/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 .App{
  padding: 30px;
  display: flex;
  justify-content: center;
 }
.task-contener{
   width: 80%;
   background-color: gray;
}
.title{
  font-weight: 300px;
  /* color: blue; */
}
.all-task{
  width: 100%;
  background-color:lightgray

}
.padd{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.single-task{
  width: 65%;
  background-color: aqua;
  /* display: flex;
  justify-content: space-between; */
}
.icon-container{
  width: 30%;
  background-color:plum;
  display: flex;
  justify-content: space-around;
}
.icon{
  font-size: 30px;
  margin-top: 20px;
}
.input-container{
  width: 100%;
  padding: 10px;
  background-color: purple;
  display: flex;
}
.task-inp{
  font-size: 15px;
  text-indent: 10px;
  font-weight: bold;

}
.task-btn{
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}